[submodule "VulkanMemoryAllocator"]
	path = VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
